body{
    background-color: #ECF2FF;
        }
    
        hr{
            background-color: #ECF2FF;
        border-style: dotted none none;
            height: 0px;
            width: 5%;
            border-width: 5px;
            border-color: #62CDFF;
        
        }

        h1{
            color: #62CDFF;
        }
        h3{
            color: #62CDFF;
        }

        p{
            
        }